body {
  background-color: #94dd9d;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: 'agency fb';
}

#beginning {
  font-size: 72px;
}

#ending {
  font-size: 44px;
}
